<<<<<<< HEAD
-# %h1 Messages#index
-# %p Find me in app/views/messages/index.html.haml
=======
>>>>>>> d52a8905cd78240a88fa49eaf9b92e4e485955b3
.wrapper
    = render "side_bar"
    = render "main_chat"